*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: grey;
    display: flex;
    flex-flow: column;
    align-items: center;
}
h1{
    margin-top: 50px;
    color: crimson;
}
.form-control{
width: 200px;

}
input{
    text-align: center;
    align-items: center;
    margin:10px auto;
}