*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: grey;
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow: scroll;
    overflow-inline: ;
}

.form-control{
width: 400px;

}
input{
    text-align: center;
    align-items: center;
    margin:10px auto;
}
hr{
    width: 100%;

}
.checkbox{
    width: 300px;
    height: auto;
    border: 2px solid red;
    padding: 50px 50px 50px 50px;
}
button, input[type="submit"]{
    background-color: blue;
    border-radius: 20px;
    color: aliceblue;
    width: 100px;
    line-height: 3em;
    padding: 10px auto;
    cursor: pointer;
}
button:hover,
input[type="submit"]:hover{
    background-color: transparent;
    font-weight: bold;
    color: blue;
}

button:active,
input[type="submit"]:active{
    color: blue;
    background-color: red;
}